@import url('https://fonts.googleapis.com/css?family=League+Spartan');
* {
    font-family: 'League Spartan';
    font-size: 32px;
    font-weight: 700;
}

html {
    font-size: 62, 5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-toggle: hsl(223, 31%, 20%);
    --background-screen: hsl(224, 36%, 15%);
    --background-main: hsl(222, 26%, 31%);
    --background-keypad: hsl(223, 31%, 20%);
    --background-key-1: hsl(30, 25%, 89%);
    --shadow-key-1: 0px 3.5px hsl(28, 16%, 65%);
    --hover-key-1: hsl(36, 20%, 95%);
    --background-key-2: hsl(6, 63%, 50%);
    --shadow-key-2: 0px 3.5px hsl(6, 70%, 34%);
    --hover-key-2: hsl(6, 67%, 57%);
    --background-key-3: hsl(225, 21%, 49%);
    --shadow-key-3: 0px 3.5px hsl(224, 28%, 35%);
    --hover-key-3: hsl(225, 19%, 55%);
    --text-1: hsl(221, 14%, 31%);
    --text-2: hsl(0, 0%, 100%);
    --text-3: hsl(0, 0%, 100%);
    --text-header: hsl(0, 0%, 100%);
    --text-screen: hsl(0, 0%, 100%);
}

.theme2 {
    --background-toggle: hsl(0, 5%, 81%);
    --background-screen: hsl(0, 0%, 93%);
    --background-main: hsl(0, 0%, 90%);
    --background-keypad: hsl(0, 5%, 81%);
    --background-key-3: hsl(185, 42%, 37%);
    --shadow-key-3: 0px 3.5px hsl(185, 58%, 25%);
    --hover-key-3: hsl(185, 35%, 45%);
    --background-key-2: hsl(25, 98%, 40%);
    --shadow-key-2: 0px 3.5px hsl(25, 99%, 27%);
    --hover-key-2: hsl(25, 77%, 46%);
    --background-key-1: hsl(45, 7%, 89%);
    --shadow-key-1: 0px 3.5px hsl(35, 11%, 61%);
    --hover-key-1: hsl(30, 9%, 96%);
    --text-1: hsl(60, 10%, 19%);
    --text-2: hsl(0, 0%, 100%);
    --text-3: hsl(0, 0%, 100%);
    --text-header: hsl(60, 10%, 19%);
    --text-screen: hsl(60, 10%, 19%);
}

.theme3 {
    --background-toggle: hsl(268, 71%, 12%);
    --background-screen: hsl(268, 71%, 12%);
    --background-main: hsl(268, 75%, 9%);
    --background-keypad: hsl(268, 71%, 12%);
    --background-key-3: hsl(281, 89%, 26%);
    --shadow-key-3: 0px 3.5px hsl(285, 91%, 52%);
    --hover-key-3: hsl(281, 73%, 33%);
    --background-key-2: hsl(176, 100%, 44%);
    --shadow-key-2: 0px 3.5px hsl(177, 92%, 70%);
    --hover-key-2: hsl(176, 91%, 75%);
    --background-key-1: hsl(268, 47%, 21%);
    --shadow-key-1: 0px 3.5px hsl(290, 70%, 36%);
    --hover-key-1: hsl(269, 42%, 44%);
    --text-1: hsl(52, 100%, 62%);
    --text-2: hsl(0, 0%, 100%);
    --text-3: hsl(198, 20%, 13%);
    --text-header: hsl(52, 100%, 62%);
    --text-screen: hsl(52, 100%, 62%);
}